.snippet-editor {
  margin: 2.5rem 0;
  .btn-save{
    margin-right: 1rem;
    background-color: var(--green);
    color:var(--light-color);
    padding: .5rem 1rem;
    border-radius: 4px;
    margin-top: 1rem;
    
  }
  .btn-cancel{
    padding: .5rem 1rem;
    border-radius: 4px;
    background-color: var(--danger);
    color: var(--light-color);
    margin-top: 1rem;
  }
}
