@import "../../style/mixins.scss";

.snippet {
  background-color: var(--light-color);
  color: var(--dark-color);
  border-radius: 8px;
  padding: 1rem;
  margin: 1.5rem 0;
  box-shadow: var(--box-shadow);

  .title,
  .description,
  .code {
    margin-bottom: 1rem;
  }
  .code {
    padding: 0.5rem;
    border-radius: 5px;
    background-color: var(--code);
    font-family: monospace;
    font-size: 1.3rem;
  }
  .btn-delete,
  .btn-edit {
    @include btn;
    margin-right: 1rem;
  }
   .btn-edit 
  {
    background-color:var(--blue);
    color: var(--light-color);

  }
  .btn-delete{
    background-color: var(--danger);
    color: var(--light-color);
  }
}
