@import "../../style/mixins.scss";

.snippet {
  background-color: var(--light-color);
  color: var(--dark-color);
  border-radius: 8px;
  padding: 1rem;
  margin: 1.5rem 0;
  box-shadow: var(--box-shadow);

  .title,
  .description,
  .code {
    margin-bottom: 1rem;
  }
  .code {
    padding: 1rem;
    border-radius: 5px;
    background-color: var(--code);
    font-family: monospace;
    font-size: 1.3rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: scroll;
    text-overflow:ellipsis;
    color: rgb(147, 175, 141)
  }
  .btn-delete,
  .btn-edit {
    @include btn;
    margin-right: 1rem;
  }
  .btn-edit {
    background-color: var(--blue);
    color: var(--light-color);
  }
  .btn-delete {
    background-color: var(--danger);
    color: var(--light-color);
  }
}
