@import "./variables.scss";
@import "./mixins.scss";
*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  color: var(--text-dark-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
}
button {
  border: unset;
  background: unset;
  font: unset;
  color: unset;
  cursor: pointer;
}
a {
  color: unset;
  text-decoration: unset;
}
label {
  font-size: 0.9rem;
  margin-left: 0.2rem;
}
input,
textarea {
  border: 1px solid #d4d3d3;
  outline: unset;
  padding: 0.4rem 0.6rem;
  width: 100%;
  margin: 0.5rem 0;
  border-radius: 8px;
  font-size: 1.2rem;
}
input {
  height: 2.9rem;
}
textarea {
  height: 6rem;
}
form {
  border: 1px solid rgb(219, 219, 219);
  padding: 2rem 1.5rem;
  border-radius: 8px;
  background-color: var(--light-color);

  &:hover {
    box-shadow: var(--box-shadow);
  }
}
.error-message {
  margin-bottom: 1rem;
  @include error-text;
}
