@mixin btn() {
  padding: 0.5rem;
  border-radius: 5px;
  &:hover {
    box-shadow: var(--box-shadow);
  }
}
@mixin error-border() {
  border: 1px solid #c02929;
}
@mixin error-text() {
  color:#c02929;
}
