:root {
  --text-dark-color: #242424;
  --light-color: #fff;
  --primary-color: #eae9eb;
  --code : #170020;
  --box-shadow: 0 4px 6px rgba( 0, 0, 0, 0.1);
  --danger: #a10a0a;
  --blue: #4242f3;
  --green: rgb(39, 134, 47);
}
